<%- include("../header.html.ejs"); -%>

<h2 class="text-center">
  Hi <%= user.username %>,
</h2>

<p>You told us you forgot your password. Click below to choose a new one:</p>

<p class="text-center">
  <a href="<%= config.baseUrl %>/auth/forgot_password?token=<%= token %>" title="Change my password" class="btn-link">
    Change my password
  </a>
</p>

<%- include("../footer.html.ejs"); -%>
