<%- include("../header.ejs"); -%>

<h1>Welcome to Octave</h1>

<p>
    Thank you for joining, please click on the link below (valid for 4 hours) to verify your email and activate your account.
    Notice, until you do, your account will have limited privileges.
</p>

<p class="text-center">
    <a href="<%= config.baseUrl %>/auth/confirmation?token=<%= token %>" title="Confirm my account" class="btn-link">
        Confirm my account
    </a>
</p>
  
<p class="small text-center">
    You may copy & paste this confirmation link into your browser:<br>
    <a href="<%= config.baseUrl %>/auth/confirmation?token=<%= token %>" title="Confirm my account">
    <%= config.baseUrl %>/auth/confirmation?token=<%= token %>
    </a>
</p>
  
<%- include("../footer.ejs"); -%>